.tit{




    p{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
}


.blco{
    text-align: center;
    padding: 20px;

    button{
        color: azure;
     }
  
    input{
        width: 400px;
        text-align: center;

        margin: 20px;
     }
    }